Repository DjangoGirls/tutorial, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DjangoGirls/committers, @DjangoGirls/bg-pr, @DjangoGirls/cs-pr, @DjangoGirls/de-pr, @DjangoGirls/el-pr, @DjangoGirls/en-pr, @DjangoGirls/es-pr, @DjangoGirls/fa-pr, @DjangoGirls/fr-pr, @DjangoGirls/hu-pr, @DjangoGirls/hy-pr, @DjangoGirls/it-pr, @DjangoGirls/ja-pr, @DjangoGirls/ko-pr, @DjangoGirls/pl-pr, @DjangoGirls/pt-pr, @DjangoGirls/ru-pr, @DjangoGirls/sk-pr, @DjangoGirls/tr-pr, @DjangoGirls/uk-pr, @DjangoGirls/zh-pr

Change the screenshot with a django 5.1 one
  en/django_start_project/images/install_worked.png
Owners: @DjangoGirls/en-pr

Update README.md with Open in Codeanywhere button
  README.md
Owners: @DjangoGirls/committers

Move Windows after macOS and Linux, for coherence with the rest of the chapter
  en/intro_to_command_line/open_instructions.md
Owners: @DjangoGirls/en-pr

Fix command in images: first 'git add' then 'git commit'
  en/deploy/images/deployment_cloud.png
  en/deploy/images/deployment_local.png
Owners: @DjangoGirls/en-pr

MDN is a better source of information wrt W3Schools
  en/css/README.md
Owners: @DjangoGirls/en-pr

Better wording
  en/css/README.md
Owners: @DjangoGirls/en-pr

Seems to sound better like this
  en/django_orm/README.md
Owners: @DjangoGirls/en-pr

Formatting
  en/extend_your_application/README.md
Owners: @DjangoGirls/en-pr

Clearer wording
  en/html/README.md
Owners: @DjangoGirls/en-pr

I think this is what was intended
  en/html/README.md
Owners: @DjangoGirls/en-pr

Fix http -> https where applicable
  en/css/README.md
  en/deploy/pythonanywhere.md
  en/django_installation/instructions.md
  en/how_the_internet_works/README.md
  en/intro_to_command_line/README.md
  en/whats_next/README.md
Owners: @DjangoGirls/en-pr

Fix Twitter -> X
  en/whats_next/README.md
Owners: @DjangoGirls/en-pr

Run GitHub Actions on Ubuntu 24.04
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Owners: @DjangoGirls/committers

Install rename
  .github/workflows/deploy.yml
Owners: @DjangoGirls/committers

docs: add version flag to pa_autoconfigure_django command ptbr
  pt/deploy/README.md
Owners: @DjangoGirls/pt-pr

Implement previews for GitHub pull requests
  .github/workflows/preview.yml
  .github/workflows/test.yml
Owners: @DjangoGirls/committers

Django views — improve the intro paragraph
  en/django_views/README.md
Owners: @DjangoGirls/en-pr

Django forms: Simplify POST vs GET explanation
  en/django_forms/README.md
Owners: @DjangoGirls/en-pr

CSS: Add margin to the edit button
  en/css/README.md
Owners: @DjangoGirls/en-pr

Django Forms: rename field to attribute to be more accurate; fix typo
  en/django_forms/README.md
Owners: @DjangoGirls/en-pr

Fix: CSS static files folder structure to follow Django best practices
  en/css/README.md
  en/django_forms/README.md
  en/template_extending/README.md
Owners: @DjangoGirls/en-pr

Update README.md Installation
  de/installation/README.md
Owners: @DjangoGirls/de-pr

Update README.md python_introduction add clear
  de/python_introduction/README.md
Owners: @DjangoGirls/de-pr

Update README.md - duration of workshop
  de/README.md
Owners: @DjangoGirls/de-pr

Update expected error message for incomplete if syntax
  en/python_introduction/README.md
Owners: @DjangoGirls/en-pr

Remove instructions to check if windows is 32-bit or 64-bit.
  en/python_installation/instructions.md
Owners: @DjangoGirls/en-pr

Extract out the "Prompt" section from the commandline instructions
  en/intro_to_command_line/README.md
  en/intro_to_command_line/prompt.md
Owners: @DjangoGirls/en-pr

Include commandline "prompt" section in main installation section
  en/installation/README.md
Owners: @DjangoGirls/en-pr

Update prompt section to reflect that zsh on mac now defaults to %
  en/intro_to_command_line/prompt.md
Owners: @DjangoGirls/en-pr

Add a helpful note re: timezone formats
  en/django_start_project/README.md
Owners: @DjangoGirls/en-pr

Tell people to create a GitHub Personal Access Token up-front
  en/deploy/README.md
Owners: @DjangoGirls/en-pr

Display what blog/urls.py file should look like.
  en/django_urls/README.md
Owners: @DjangoGirls/en-pr

Display what blog/views.py should look like. Also, make the description more understandable for beginners.
  en/django_views/README.md
Owners: @DjangoGirls/en-pr

Give more clear instrcutions on how to update the template file.
  en/django_templates/README.md
Owners: @DjangoGirls/en-pr

fix spelling
  en/django_forms/README.md
Owners: @DjangoGirls/en-pr

Create devcontainer.json
  .devcontainer/devcontainer.json
Owners: @DjangoGirls/committers

Fixed #1890 -- Removed reference to non-existing <div> elements
  de/django_templates/README.md
Owners: @DjangoGirls/de-pr

Use Django 5.2 to support both latest Python and PythonAnywhere
  book.json
  en/deploy/pythonanywhere.md
  en/django_admin/README.md
  en/django_forms/README.md
  en/django_models/README.md
  en/django_start_project/README.md
  en/django_urls/README.md
  en/django_views/README.md
  en/dynamic_data_in_templates/README.md
  en/whats_next/README.md
Owners: @DjangoGirls/committers, @DjangoGirls/en-pr

translate section headings in HTML comments to DE
  de/installation/README.md
Owners: @DjangoGirls/de-pr

Update README.md
  en/django_orm/README.md
Owners: @DjangoGirls/en-pr

.github/CODEOWNERS:

# default:
*	@DjangoGirls/committers

# language PR review teams for the respective translations:
/bg/	@DjangoGirls/bg-pr
/cs/	@DjangoGirls/cs-pr
/de/	@DjangoGirls/de-pr
/el/	@DjangoGirls/el-pr
/en/	@DjangoGirls/en-pr
/es/	@DjangoGirls/es-pr
/fa/	@DjangoGirls/fa-pr
/fr/	@DjangoGirls/fr-pr
/hu/	@DjangoGirls/hu-pr
/hy/	@DjangoGirls/hy-pr
/it/	@DjangoGirls/it-pr
/ja/	@DjangoGirls/ja-pr
/ko/	@DjangoGirls/ko-pr
/pl/	@DjangoGirls/pl-pr
/pt/	@DjangoGirls/pt-pr
/ru/	@DjangoGirls/ru-pr
/sk/	@DjangoGirls/sk-pr
/tr/	@DjangoGirls/tr-pr
/uk/	@DjangoGirls/uk-pr
/zh/	@DjangoGirls/zh-pr
