Repository DjangoGirls/tutorial, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DjangoGirls/committers, @DjangoGirls/bg-pr, @DjangoGirls/cs-pr, @DjangoGirls/de-pr, @DjangoGirls/el-pr, @DjangoGirls/en-pr, @DjangoGirls/es-pr, @DjangoGirls/fa-pr, @DjangoGirls/fr-pr, @DjangoGirls/hu-pr, @DjangoGirls/hy-pr, @DjangoGirls/it-pr, @DjangoGirls/ja-pr, @DjangoGirls/ko-pr, @DjangoGirls/pl-pr, @DjangoGirls/pt-pr, @DjangoGirls/ru-pr, @DjangoGirls/sk-pr, @DjangoGirls/tr-pr, @DjangoGirls/uk-pr, @DjangoGirls/zh-pr

.github/CODEOWNERS:

# default:
*	@DjangoGirls/committers

# language PR review teams for the respective translations:
/bg/	@DjangoGirls/bg-pr
/cs/	@DjangoGirls/cs-pr
/de/	@DjangoGirls/de-pr
/el/	@DjangoGirls/el-pr
/en/	@DjangoGirls/en-pr
/es/	@DjangoGirls/es-pr
/fa/	@DjangoGirls/fa-pr
/fr/	@DjangoGirls/fr-pr
/hu/	@DjangoGirls/hu-pr
/hy/	@DjangoGirls/hy-pr
/it/	@DjangoGirls/it-pr
/ja/	@DjangoGirls/ja-pr
/ko/	@DjangoGirls/ko-pr
/pl/	@DjangoGirls/pl-pr
/pt/	@DjangoGirls/pt-pr
/ru/	@DjangoGirls/ru-pr
/sk/	@DjangoGirls/sk-pr
/tr/	@DjangoGirls/tr-pr
/uk/	@DjangoGirls/uk-pr
/zh/	@DjangoGirls/zh-pr

Using `Path.__truediv__` instead of `os` module.
  es/django_start_project/README.md
Owners: @DjangoGirls/es-pr

Fixed check command
  Makefile
Owners: @DjangoGirls/committers

Fixed Non-zeo exit
  .gitignore
  LANGS.md
  Makefile
Owners: @DjangoGirls/committers

Fixed LANGS.md
  .gitignore
  LANGS.md
  Makefile
Owners: @DjangoGirls/committers

Added node_modules check
  Makefile
Owners: @DjangoGirls/committers

Updated help command
  Makefile
Owners: @DjangoGirls/committers

Added CLI documentation to README
  README.md
Owners: @DjangoGirls/committers

Added development pre-commit hook
  Makefile
Owners: @DjangoGirls/committers

fix path module. os.path->pathlib
  ja/django_start_project/README.md
Owners: @DjangoGirls/ja-pr

Slovak translation updates / improvements from Crowdin
  sk/GLOSSARY.md
  sk/README.md
  sk/SUMMARY.md
  sk/chromebook_setup/README.md
  sk/chromebook_setup/instructions.md
  sk/code_editor/README.md
  sk/code_editor/instructions.md
  sk/css/README.md
  sk/deploy/README.md
  sk/deploy/install_git.md
  sk/deploy/pythonanywhere.md
  sk/deploy/signup_pythonanywhere.md
  sk/django/README.md
  sk/django_admin/README.md
  sk/django_forms/README.md
  sk/django_installation/README.md
  sk/django_installation/instructions.md
  sk/django_models/README.md
  sk/django_orm/README.md
  sk/django_start_project/README.md
  sk/django_templates/README.md
  sk/django_urls/README.md
  sk/django_views/README.md
  sk/dynamic_data_in_templates/README.md
  sk/extend_your_application/README.md
  sk/how_the_internet_works/README.md
  sk/html/README.md
  sk/installation/README.md
  sk/intro_to_command_line/README.md
  sk/intro_to_command_line/open_instructions.md
  sk/python_installation/README.md
  sk/python_installation/instructions.md
  sk/python_introduction/README.md
  sk/python_introduction/prompt.md
  sk/template_extending/README.md
  sk/whats_next/README.md
Owners: @DjangoGirls/sk-pr

Add a job to automatically update translations
  .github/list_languages
  .github/workflows/translations.yml
Owners: @DjangoGirls/committers

Slovak translation updates / improvements from Crowdin
  sk/README.md
  sk/SUMMARY.md
  sk/chromebook_setup/instructions.md
  sk/code_editor/instructions.md
  sk/css/README.md
  sk/deploy/README.md
  sk/deploy/pythonanywhere.md
  sk/deploy/signup_pythonanywhere.md
  sk/django/README.md
  sk/django_forms/README.md
  sk/django_start_project/README.md
  sk/django_templates/README.md
  sk/dynamic_data_in_templates/README.md
  sk/extend_your_application/README.md
  sk/how_the_internet_works/README.md
  sk/html/README.md
  sk/installation/README.md
  sk/intro_to_command_line/README.md
  sk/python_introduction/README.md
  sk/python_introduction/prompt.md
Owners: @DjangoGirls/sk-pr

Change os.path.join to Pathlib /
  pt/django_start_project/README.md
Owners: @DjangoGirls/pt-pr

Fix: Forgotten variable translation
  sk/python_introduction/README.md
Owners: @DjangoGirls/sk-pr

Add visual studio code for code editor
  ko/code_editor/instructions.md
Owners: @DjangoGirls/ko-pr

Add visual studio code at code editor (synced version)
  ko/code_editor/instructions.md
Owners: @DjangoGirls/ko-pr

Add visual studio code at code editor (synced version)
  ko/code_editor/instructions.md
Owners: @DjangoGirls/ko-pr

Remove Atom from code editor suggestions
  en/code_editor/instructions.md
Owners: @DjangoGirls/en-pr

Ignore the default branch name problem
  en/deploy/README.md
  en/deploy/install_git.md
Owners: @DjangoGirls/en-pr

Remove Caktus Ad
  book.json
Owners: @DjangoGirls/committers

Fix version of django document
  ja/django_models/README.md
Owners: @DjangoGirls/ja-pr

Update README.md
  ja/django_admin/README.md
Owners: @DjangoGirls/ja-pr

Fix version of django document
  ja/deploy/README.md
  ja/django_forms/README.md
  ja/django_start_project/README.md
  ja/django_urls/README.md
  ja/django_views/README.md
  ja/dynamic_data_in_templates/README.md
  ja/whats_next/README.md
Owners: @DjangoGirls/ja-pr

Add RunCode Cloud Development instructions Add RunCode Cloud Development instructions
  en/SUMMARY.md
  en/cloud_development_setup/README.md
  en/cloud_development_setup/instructions.md
  en/django_installation/instructions.md
  en/django_start_project/README.md
  en/installation/README.md
  en/intro_to_command_line/open_instructions.md
  en/python_installation/README.md
  en/python_introduction/prompt.md
Owners: @DjangoGirls/en-pr

proper heading incrementation, added language specifier, fix typo
  en/chromebook_setup/instructions.md
Owners: @DjangoGirls/en-pr

fix typo (glitch-hello-website)
  en/chromebook_setup/instructions.md
Owners: @DjangoGirls/en-pr

Separate RunCode setup and make suggested changes
  en/SUMMARY.md
  en/cloud_development_setup/README.md
  en/cloud_development_setup/instructions.md
  en/code_editor/README.md
  en/django_installation/README.md
  en/django_installation/instructions.md
  en/installation/README.md
  en/intro_to_command_line/open_instructions.md
  en/python_installation/README.md
Owners: @DjangoGirls/en-pr

Update STATIC_ROOT to the latest Django style
  bg/django_start_project/README.md
  cs/django_start_project/README.md
  de/django_start_project/README.md
  el/django_start_project/README.md
  fa/django_start_project/README.md
  fr/django_start_project/README.md
  hu/django_start_project/README.md
  hy/django_start_project/README.md
  it/django_start_project/README.md
  ja/django_start_project/README.md
  ko/django_start_project/README.md
  pl/django_start_project/README.md
  pt/django_start_project/README.md
  ru/django_start_project/README.md
  tr/django_start_project/README.md
  uk/django_start_project/README.md
  zh/django_start_project/README.md
Owners: @DjangoGirls/bg-pr, @DjangoGirls/cs-pr, @DjangoGirls/de-pr, @DjangoGirls/el-pr, @DjangoGirls/fa-pr, @DjangoGirls/fr-pr, @DjangoGirls/hu-pr, @DjangoGirls/hy-pr, @DjangoGirls/it-pr, @DjangoGirls/ja-pr, @DjangoGirls/ko-pr, @DjangoGirls/pl-pr, @DjangoGirls/pt-pr, @DjangoGirls/ru-pr, @DjangoGirls/tr-pr, @DjangoGirls/uk-pr, @DjangoGirls/zh-pr

Update DATABASES to the latest Django style
  bg/django_start_project/README.md
  cs/django_start_project/README.md
  de/django_start_project/README.md
  el/django_start_project/README.md
  es/django_start_project/README.md
  fa/django_start_project/README.md
  fr/django_start_project/README.md
  hu/django_start_project/README.md
  hy/django_start_project/README.md
  it/django_start_project/README.md
  ja/django_start_project/README.md
  ko/django_start_project/README.md
  pl/django_start_project/README.md
  pt/django_start_project/README.md
  ru/django_start_project/README.md
  tr/django_start_project/README.md
  uk/django_start_project/README.md
  zh/django_start_project/README.md
Owners: @DjangoGirls/bg-pr, @DjangoGirls/cs-pr, @DjangoGirls/de-pr, @DjangoGirls/el-pr, @DjangoGirls/es-pr, @DjangoGirls/fa-pr, @DjangoGirls/fr-pr, @DjangoGirls/hu-pr, @DjangoGirls/hy-pr, @DjangoGirls/it-pr, @DjangoGirls/ja-pr, @DjangoGirls/ko-pr, @DjangoGirls/pl-pr, @DjangoGirls/pt-pr, @DjangoGirls/ru-pr, @DjangoGirls/tr-pr, @DjangoGirls/uk-pr, @DjangoGirls/zh-pr

Fix broken links in Japanese text
  ja/django_templates/README.md
Owners: @DjangoGirls/ja-pr

Delete local installation heading
  en/installation/README.md
Owners: @DjangoGirls/en-pr

Fix version of Django documentation in Japanese tutorial (#1782)
  ja/deploy/README.md
  ja/django_admin/README.md
  ja/django_forms/README.md
  ja/django_models/README.md
  ja/django_start_project/README.md
  ja/django_urls/README.md
  ja/django_views/README.md
  ja/dynamic_data_in_templates/README.md
  ja/whats_next/README.md
Owners: @DjangoGirls/ja-pr

Replace sidebar-ad with sidebar-ads plugin
  book.json
  package.json
Owners: @DjangoGirls/committers

Switch to actions/deploy-pages
  .github/workflows/deploy.yml
Owners: @DjangoGirls/committers

Add contributing guide for restructuring tutorial
  README.md
Owners: @DjangoGirls/committers

Split setup instructions and summary
  LANGS.md
  en/OS.md
  en/chromebook/SUMMARY.md
  en/chromebook/chromebook_setup/README.md
  en/chromebook/chromebook_setup/instructions.md
  en/chromebook_setup/README.md
  en/cloud_development_setup/README.md
  en/code_editor/README.md
  en/code_editor/instructions.md
  en/linux/SUMMARY.md
  en/linux/installation/README.md
  en/linux/intro_to_command_line/README.md
  en/linux/python_installation/README.md
  en/linux/python_installation/images/python-installation-options.png
  en/linux/python_installation/images/windows-plus-r.png
  en/linux/python_installation/instructions.md
  en/macosx/SUMMARY.md
  en/macosx/installation/README.md
  en/macosx/intro_to_command_line/README.md
  en/macosx/python_installation/README.md
  en/macosx/python_installation/images/python-installation-options.png
  en/macosx/python_installation/images/windows-plus-r.png
  en/macosx/python_installation/instructions.md
  en/runcode/SUMMARY.md
  en/runcode/cloud_development_setup/README.md
  en/runcode/cloud_development_setup/instructions.md
  en/runcode/intro_to_command_line/README.md
  en/windows/SUMMARY.md
  en/windows/installation/README.md
  en/windows/intro_to_command_line/README.md
  en/windows/python_installation/README.md
  en/windows/python_installation/images/python-installation-options.png
  en/windows/python_installation/images/windows-plus-r.png
  en/windows/python_installation/instructions.md
Owners: @DjangoGirls/committers, @DjangoGirls/en-pr

Remove unnecessary files from Chromebook folder
  en/chromebook/django_installation/README.md
  en/chromebook/django_installation/instructions.md
  en/linux/django_installation/README.md
  en/linux/django_installation/instructions.md
Owners: @DjangoGirls/en-pr

Fix Python installation and introduction sections
  en/SUMMARY.md
  en/linux/python_introduction/README.md
  en/macosx/python_installation/README.md
  en/macosx/python_introduction/README.md
  en/macosx/python_introduction/prompt.md
  en/runcode/python_introduction/README.md
  en/runcode/python_introduction/prompt.md
  en/windows/django_installation/README.md
  en/windows/python_installation/README.md
  en/windows/python_introduction/README.md
Owners: @DjangoGirls/en-pr

Fix django installation instructions
  en/SUMMARY.md
  en/linux/django_installation/README.md
  en/linux/django_installation/instructions.md
  en/linux/python_introduction/README.md
  en/macosx/django_installation/README.md
  en/macosx/django_installation/instructions.md
  en/runcode/python_introduction/README.md
  en/windows/README.md
  en/windows/python_introduction/README.md
Owners: @DjangoGirls/en-pr

Restruture content up to Python introduction
  en/SUMMARY.md
  en/chromebook/README.md
  en/chromebook/django_start_project/README.md
  en/chromebook/django_start_project/images/install_worked.png
  en/installation/README.md
  en/linux/README.md
  en/linux/deploy/install_git.md
  en/linux/django_start_project/README.md
  en/linux/django_start_project/images/install_worked.png
  en/linux/python_introduction/README.md
  en/linux/python_introduction/instructions.md
  en/linux/python_introduction/prompt.md
  en/macosx/README.md
  en/macosx/django_start_project/README.md
  en/macosx/django_start_project/images/install_worked.png
  en/macosx/python_introduction/README.md
  en/macosx/python_introduction/instructions.md
  en/macosx/python_introduction/prompt.md
  en/python_introduction/instructions.md
  en/python_introduction/instructions_part_two.md
  en/runcode/README.md
  en/runcode/django_installation/README.md
  en/runcode/django_installation/instructions.md
  en/runcode/django_start_project/README.md
  en/runcode/django_start_project/images/install_worked.png
  en/runcode/python_introduction/README.md
  en/windows/README.md
  en/windows/deploy/images/pythonanywhere_account.png
  en/windows/deploy/images/pythonanywhere_bash_console.png
  en/windows/deploy/images/pythonanywhere_beginner_account_button.png
  en/windows/deploy/images/pythonanywhere_create_api_token.png
  en/windows/django_start_project/README.md
  en/windows/django_start_project/images/install_worked.png
  en/windows/python_introduction/README.md
  en/windows/python_introduction/instructions.md
  en/windows/python_introduction/prompt.md
Owners: @DjangoGirls/en-pr
