Repository DjangoGirls/tutorial, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DjangoGirls/committers, @DjangoGirls/bg-pr, @DjangoGirls/cs-pr, @DjangoGirls/de-pr, @DjangoGirls/el-pr, @DjangoGirls/en-pr, @DjangoGirls/es-pr, @DjangoGirls/fa-pr, @DjangoGirls/fr-pr, @DjangoGirls/hu-pr, @DjangoGirls/hy-pr, @DjangoGirls/it-pr, @DjangoGirls/ja-pr, @DjangoGirls/ko-pr, @DjangoGirls/pl-pr, @DjangoGirls/pt-pr, @DjangoGirls/ru-pr, @DjangoGirls/sk-pr, @DjangoGirls/tr-pr, @DjangoGirls/uk-pr, @DjangoGirls/zh-pr

.github/CODEOWNERS:

# default:
*	@DjangoGirls/committers

# language PR review teams for the respective translations:
/bg/	@DjangoGirls/bg-pr
/cs/	@DjangoGirls/cs-pr
/de/	@DjangoGirls/de-pr
/el/	@DjangoGirls/el-pr
/en/	@DjangoGirls/en-pr
/es/	@DjangoGirls/es-pr
/fa/	@DjangoGirls/fa-pr
/fr/	@DjangoGirls/fr-pr
/hu/	@DjangoGirls/hu-pr
/hy/	@DjangoGirls/hy-pr
/it/	@DjangoGirls/it-pr
/ja/	@DjangoGirls/ja-pr
/ko/	@DjangoGirls/ko-pr
/pl/	@DjangoGirls/pl-pr
/pt/	@DjangoGirls/pt-pr
/ru/	@DjangoGirls/ru-pr
/sk/	@DjangoGirls/sk-pr
/tr/	@DjangoGirls/tr-pr
/uk/	@DjangoGirls/uk-pr
/zh/	@DjangoGirls/zh-pr

set python anywhere version to 3.10
  book.json
Owners: @DjangoGirls/committers

chore: update github actions
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Owners: @DjangoGirls/committers

update django version in docs to 4.2
  en/django_admin/README.md
  en/django_forms/README.md
  en/django_start_project/README.md
  en/django_urls/README.md
  en/django_views/README.md
  en/whats_next/README.md
  sk/django_views/README.md
Owners: @DjangoGirls/en-pr, @DjangoGirls/sk-pr

added cro summary
  LANGS.md
  cro/SUMMARY.md
Owners: @DjangoGirls/committers

readme first commit
  cro/README.md
Owners: @DjangoGirls/committers

readme some tipos
  cro/README.md
Owners: @DjangoGirls/committers

remove new line
  sk/django_views/README.md
Owners: @DjangoGirls/sk-pr

readme complete
  cro/README.md
Owners: @DjangoGirls/committers

Add survey link to sidebar ads
  book.json
Owners: @DjangoGirls/committers

Remove Runcode instructions
  en/SUMMARY.md
  en/cloud_development_setup/README.md
  en/cloud_development_setup/instructions.md
  en/code_editor/README.md
  en/django_installation/README.md
  en/django_start_project/README.md
  en/installation/README.md
  en/intro_to_command_line/open_instructions.md
  en/python_installation/README.md
Owners: @DjangoGirls/en-pr

Fix link to CONTRIBUTING
  de/README.md
Owners: @DjangoGirls/de-pr

Fix broken links due to html reference
  fr/python_introduction/README.md
  pt/dynamic_data_in_templates/README.md
Owners: @DjangoGirls/fr-pr, @DjangoGirls/pt-pr

Add missing images taken from English translation
  el/deploy/images/pythonanywhere_account.png
  es/deploy/images/pythonanywhere_account.png
  ja/deploy/images/pythonanywhere_account.png
  pl/deploy/images/pythonanywhere_account.png
  pl/deploy/images/pythonanywhere_beginner_account_button.png
  pt/deploy/images/pythonanywhere_account.png
  pt/deploy/images/pythonanywhere_beginner_account_button.png
  sk/deploy/images/pythonanywhere_account.png
  sk/deploy/images/pythonanywhere_beginner_account_button.png
  sk/django_start_project/images/install_worked.png
  tr/deploy/images/pythonanywhere_beginner_account_button.png
  tr/deploy/images/pythonanywhere_create_api_token.png
  tr/django_start_project/images/install_worked.png
Owners: @DjangoGirls/el-pr, @DjangoGirls/es-pr, @DjangoGirls/ja-pr, @DjangoGirls/pl-pr, @DjangoGirls/pt-pr, @DjangoGirls/sk-pr, @DjangoGirls/tr-pr

remove changes from sk/django_views/README.md
  sk/django_views/README.md
Owners: @DjangoGirls/sk-pr

Fixed typo in italian translation
  it/django_admin/README.md
Owners: @DjangoGirls/it-pr

chore removed space
  it/django_admin/README.md
Owners: @DjangoGirls/it-pr

update language es
  LANGS.md
  Makefile
  es/deploy/README.html
  es/deploy/README.md
  es/deploy/README_files/libs/bootstrap/bootstrap-icons.css
  es/deploy/README_files/libs/bootstrap/bootstrap-icons.woff
  es/deploy/README_files/libs/bootstrap/bootstrap.min.css
  es/deploy/README_files/libs/bootstrap/bootstrap.min.js
  es/deploy/README_files/libs/clipboard/clipboard.min.js
  es/deploy/README_files/libs/quarto-html/anchor.min.js
  es/deploy/README_files/libs/quarto-html/popper.min.js
  es/deploy/README_files/libs/quarto-html/quarto-syntax-highlighting.css
  es/deploy/README_files/libs/quarto-html/quarto.js
  es/deploy/README_files/libs/quarto-html/tippy.css
  es/deploy/README_files/libs/quarto-html/tippy.umd.min.js
  es/deploy/images/paste-1.png
  es/deploy/images/paste-2.png
  es/deploy/images/paste-3.png
  es/deploy/images/paste-4.png
  es/installation/README.md
  es/python_installation/instructions.md
  es/python_introduction/README.md
Owners: @DjangoGirls/committers, @DjangoGirls/es-pr

Updating Django Girls to DjangoFest within tutorial
  en/README.md
  en/chromebook_setup/instructions.md
  en/css/README.md
  en/deploy/README.md
  en/django_forms/README.md
  en/django_templates/README.md
  en/how_the_internet_works/README.md
  en/html/README.md
  en/installation/README.md
  en/python_introduction/README.md
  en/template_extending/README.md
  en/whats_next/README.md
Owners: @DjangoGirls/en-pr

Small change under Install Python: Linux
  en/python_installation/instructions.md
  package.json
Owners: @DjangoGirls/en-pr, @DjangoGirls/committers

update IDE install instructions
  en/code_editor/instructions.md
Owners: @DjangoGirls/en-pr

Update some verbiage
  en/code_editor/instructions.md
Owners: @DjangoGirls/en-pr

Second change
  en/python_installation/instructions.md
Owners: @DjangoGirls/en-pr

Text Updates to Python Intro Pages
  LANGS.md
  en/python_introduction/README.md
  en/python_introduction/prompt.md
Owners: @DjangoGirls/committers, @DjangoGirls/en-pr

Changed Chromebook setup instructions
  en/chromebook_setup/README.md
  en/chromebook_setup/images/codespace-preview.png
  en/chromebook_setup/images/create-new-codespace.png
  en/chromebook_setup/images/create-new-repo.png
  en/chromebook_setup/images/vscode-install-python.png
  en/chromebook_setup/instructions.md
Owners: @DjangoGirls/en-pr

Added localhost to ALLOWED_HOSTS in settings.py
  en/django_start_project/README.md
Owners: @DjangoGirls/en-pr

Add info about auto-deletion of GitHub Workspace
  en/chromebook_setup/images/codespace-auto-delete-off.png
  en/chromebook_setup/instructions.md
Owners: @DjangoGirls/en-pr

Fixed path to the images
  en/chromebook_setup/instructions.md
Owners: @DjangoGirls/en-pr

Added csuggestions for git installation bug for Mac M1/M2/M3 ussers
  LANGS.md
  en/deploy/install_git.md
Owners: @DjangoGirls/committers, @DjangoGirls/en-pr

Added github generate access token instructions
  LANGS.md
  en/deploy/README.md
Owners: @DjangoGirls/committers, @DjangoGirls/en-pr

Fixes from PR discussion:
  en/chromebook_setup/README.md
  en/chromebook_setup/images/codespace-preview.png
  en/chromebook_setup/images/create-new-codespace.png
  en/chromebook_setup/images/create-new-repo.png
  en/chromebook_setup/images/vscode-install-python.png
  en/chromebook_setup/instructions.md
  en/deploy/README.md
Owners: @DjangoGirls/en-pr

Forgot to add new screenshots for the "Deploy".
  en/deploy/images/deployment_cloud.png
  en/deploy/images/deployment_local.png
Owners: @DjangoGirls/en-pr

Reverted the "Ignoring files" part and ...
  en/deploy/README.md
Owners: @DjangoGirls/en-pr

Remove gitter.im links from the english README.md file
  en/README.md
Owners: @DjangoGirls/en-pr

Remove the gitter.im link also from the sidebar
  book.json
Owners: @DjangoGirls/committers

Updating bootstrap and bootstrap-icons versions
  de/django_forms/README.md
  en/css/README.md
  en/django_forms/README.md
  en/template_extending/README.md
  fa/django_forms/README.md
  fr/django_forms/README.md
  hy/django_forms/README.md
  it/django_forms/README.md
  sk/css/README.md
  sk/django_forms/README.md
  sk/template_extending/README.md
Owners: @DjangoGirls/de-pr, @DjangoGirls/en-pr, @DjangoGirls/fa-pr, @DjangoGirls/fr-pr, @DjangoGirls/hy-pr, @DjangoGirls/it-pr, @DjangoGirls/sk-pr

Updating python and django versions usage to latest available versions
  book.json
  de/deploy/README.md
  en/deploy/pythonanywhere.md
  en/django_admin/README.md
  en/django_forms/README.md
  en/django_models/README.md
  en/django_start_project/README.md
  en/django_urls/README.md
  en/django_views/README.md
  en/dynamic_data_in_templates/README.md
  en/whats_next/README.md
  fa/deploy/README.md
  fr/deploy/README.md
  hy/deploy/README.md
  it/deploy/README.md
  ja/deploy/README.md
  ja/django_admin/README.md
  ja/django_forms/README.md
  ja/django_models/README.md
  ja/django_start_project/README.md
  ja/django_urls/README.md
  ja/django_views/README.md
  ja/dynamic_data_in_templates/README.md
  ja/whats_next/README.md
  sk/deploy/pythonanywhere.md
  sk/django_admin/README.md
  sk/django_forms/README.md
  sk/django_models/README.md
  sk/django_start_project/README.md
  sk/django_urls/README.md
  sk/django_views/README.md
  sk/dynamic_data_in_templates/README.md
  sk/whats_next/README.md
Owners: @DjangoGirls/committers, @DjangoGirls/de-pr, @DjangoGirls/en-pr, @DjangoGirls/fa-pr, @DjangoGirls/fr-pr, @DjangoGirls/hy-pr, @DjangoGirls/it-pr, @DjangoGirls/ja-pr, @DjangoGirls/sk-pr

Updating images for new github repo and python install options on windows
  en/deploy/images/new_github_repo.png
  en/python_installation/images/python-installation-options.png
Owners: @DjangoGirls/en-pr

Wording and formatting fixes
  en/README.md
  en/django_installation/instructions.md
  en/django_start_project/README.md
  en/how_the_internet_works/README.md
  en/python_installation/instructions.md
  en/python_introduction/README.md
Owners: @DjangoGirls/en-pr

Change STATIC_URL as it is created by django-admin startproject
  en/django_start_project/README.md
Owners: @DjangoGirls/en-pr

Fix the typo Extentions -> Extensions in the screenshot
  en/chromebook_setup/images/vscode-install-python.png
Owners: @DjangoGirls/en-pr
