Repository DjangoGirls/tutorial, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DjangoGirls/committers, @DjangoGirls/bg-pr, @DjangoGirls/cs-pr, @DjangoGirls/de-pr, @DjangoGirls/el-pr, @DjangoGirls/en-pr, @DjangoGirls/es-pr, @DjangoGirls/fa-pr, @DjangoGirls/fr-pr, @DjangoGirls/hu-pr, @DjangoGirls/hy-pr, @DjangoGirls/it-pr, @DjangoGirls/ja-pr, @DjangoGirls/ko-pr, @DjangoGirls/pl-pr, @DjangoGirls/pt-pr, @DjangoGirls/ru-pr, @DjangoGirls/sk-pr, @DjangoGirls/tr-pr, @DjangoGirls/uk-pr, @DjangoGirls/zh-pr

Refactor deploy folder, delete reduntant folders
  en/SUMMARY.md
  en/deploy/README.md
  en/django_installation/README.md
  en/django_installation/instructions.md
  en/django_start_project/README.md
  en/django_start_project/images/install_worked.png
  en/intro_to_command_line/README.md
  en/intro_to_command_line/open_instructions.md
  en/linux/deploy/README.md
  en/linux/python_installation/README.md
  en/macosx/deploy/README.md
  en/python_installation/README.md
  en/python_installation/images/python-installation-options.png
  en/python_installation/images/windows-plus-r.png
  en/python_installation/instructions.md
  en/runcode/deploy/README.md
  en/runcode/deploy/images/github_get_repo_url_screenshot.png
  en/runcode/deploy/images/new_github_repo.png
  en/runcode/deploy/images/pythonanywhere_account.png
  en/runcode/deploy/images/pythonanywhere_bash_console.png
  en/runcode/deploy/images/pythonanywhere_beginner_account_button.png
  en/runcode/deploy/images/pythonanywhere_create_api_token.png
  en/windows/deploy/README.md
Owners: @DjangoGirls/en-pr

build and deploy ePub e-book files
  .github/workflows/deploy.yml
Owners: @DjangoGirls/committers

name ePub files sensibly
  .github/workflows/deploy.yml
Owners: @DjangoGirls/committers

Fix line breaks at 80 for chromebook/README.md
  en/chromebook/README.md
Owners: @DjangoGirls/en-pr

Fix lines for chromebook/django_start_project/README.md
  en/chromebook/django_start_project/README.md
Owners: @DjangoGirls/en-pr

Fix line length for macosx/django_start_project/README.md
  en/macosx/django_start_project/README.md
Owners: @DjangoGirls/en-pr

Fix runcode file line length
  en/runcode/README.md
  en/runcode/deploy/README.md
  en/runcode/django_installation/README.md
  en/runcode/django_installation/instructions.md
  en/runcode/intro_to_command_line/README.md
  en/runcode/python_introduction/README.md
  en/runcode/python_introduction/prompt.md
Owners: @DjangoGirls/en-pr

Fix line length for windows and runcode
  en/runcode/django_start_project/README.md
  en/windows/README.md
  en/windows/deploy/README.md
  en/windows/deploy/install_git.md
  en/windows/django_installation/README.md
  en/windows/django_installation/instructions.md
  en/windows/intro_to_command_line/README.md
  en/windows/intro_to_command_line/open_instructions.md
  en/windows/python_installation/README.md
  en/windows/python_installation/instructions.md
  en/windows/python_introduction/README.md
  en/windows/python_introduction/instructions.md
  en/windows/python_introduction/prompt.md
Owners: @DjangoGirls/en-pr

Fix lines for code editor folder
  en/code_editor/README.md
  en/code_editor/instructions.md
  en/installation/README.md
Owners: @DjangoGirls/en-pr

Fix line length for more files
  en/linux/README.md
  en/linux/deploy/README.md
  en/linux/deploy/install_git.md
  en/linux/django_installation/README.md
  en/linux/django_installation/instructions.md
  en/linux/django_start_project/README.md
  en/linux/intro_to_command_line/README.md
  en/linux/intro_to_command_line/open_instructions.md
  en/linux/python_installation/README.md
  en/linux/python_installation/instructions.md
  en/linux/python_introduction/README.md
  en/linux/python_introduction/instructions.md
  en/linux/python_introduction/prompt.md
  en/macosx/README.md
  en/macosx/deploy/README.md
  en/macosx/deploy/install_git.md
  en/macosx/django_installation/README.md
  en/macosx/django_installation/instructions.md
  en/macosx/django_start_project/README.md
  en/macosx/intro_to_command_line/README.md
  en/macosx/python_installation/README.md
  en/macosx/python_installation/instructions.md
  en/python_introduction/instructions.md
  en/python_introduction/instructions_part_two.md
Owners: @DjangoGirls/en-pr

Fix link for runcode django_start_project
  en/SUMMARY.md
Owners: @DjangoGirls/en-pr

Fix navigation issues, refactor SUMMARY.md
  en/SUMMARY.md
  en/code_editor/README.md
  en/deploy/README.md
  en/django_installation/README.md
  en/django_start_project/README.md
  en/installation/README.md
  en/intro_to_command_line/README.md
  en/linux/python_installation/README.md
  en/macosx/python_installation/README.md
  en/python_installation/README.md
  en/python_introduction/README.md
  en/python_introduction/images/cupcake.png
  en/windows/python_installation/README.md
  en/windows/python_introduction/prompt.md
Owners: @DjangoGirls/en-pr

Add shell annotations on code blocks in English docs.
  en/chromebook_setup/instructions.md
  en/cloud_development_setup/instructions.md
  en/css/README.md
  en/deploy/README.md
  en/deploy/install_git.md
  en/deploy/pythonanywhere.md
  en/django_admin/README.md
  en/django_forms/README.md
  en/django_installation/instructions.md
  en/django_models/README.md
  en/django_orm/README.md
  en/django_start_project/README.md
  en/django_templates/README.md
  en/extend_your_application/README.md
  en/html/README.md
  en/intro_to_command_line/README.md
  en/python_installation/instructions.md
  en/python_introduction/README.md
  en/python_introduction/prompt.md
  en/template_extending/README.md
Owners: @DjangoGirls/en-pr

Update README add Quickstart
  README.md
Owners: @DjangoGirls/committers

Move branch rename instructions after ignoring files. Fix #1779
  en/deploy/README.md
Owners: @DjangoGirls/en-pr

fix: relative image paths in specific os folders
  en/linux/django_start_project/README.md
  en/macosx/django_start_project/README.md
  en/runcode/django_start_project/README.md
  en/windows/django_start_project/README.md
  en/windows/intro_to_command_line/README.md
  en/windows/intro_to_command_line/open_instructions.md
  en/windows/python_installation/instructions.md
Owners: @DjangoGirls/en-pr

Update README.md fix url to `https`
  README.md
Owners: @DjangoGirls/committers

Swap the order of href and rel for Google Fonts loading
  en/css/README.md
  en/django_forms/README.md
  en/template_extending/README.md
Owners: @DjangoGirls/en-pr

Tell RunCode users which terminal to use
  en/cloud_development_setup/instructions.md
  en/intro_to_command_line/open_instructions.md
Owners: @DjangoGirls/en-pr

Simplify RunCode virtual environment installation and usage instructions
  en/cloud_development_setup/instructions.md
Owners: @DjangoGirls/en-pr

remove suggestions to use Jupyter Lab workspace
  en/cloud_development_setup/instructions.md
  en/intro_to_command_line/open_instructions.md
  en/python_introduction/prompt.md
Owners: @DjangoGirls/en-pr

link to ePub e-book in HTML (web) version
  en/README.md
Owners: @DjangoGirls/en-pr

Replaced python versions by variables in the python and django installation instructions (ru)
  ru/django_installation/instructions.md
  ru/python_installation/instructions.md
  ru/python_introduction/README.md
Owners: @DjangoGirls/ru-pr

JA text edited
  ja/django_forms/README.md
Owners: @DjangoGirls/ja-pr

Fix variable substitution in German tutorial
  de/python_installation/instructions.md
Owners: @DjangoGirls/de-pr

Update Python and Django versions.
  book.json
Owners: @DjangoGirls/committers

Update instructions.md
  en/code_editor/instructions.md
Owners: @DjangoGirls/en-pr

add note about editing commands
  en/intro_to_command_line/README.md
Owners: @DjangoGirls/en-pr

Updating bootstrap and bootstrap-icons versions
  de/django_forms/README.md
  en/css/README.md
  en/django_forms/README.md
  en/template_extending/README.md
  fa/django_forms/README.md
  fr/django_forms/README.md
  hy/django_forms/README.md
  it/django_forms/README.md
  sk/css/README.md
  sk/django_forms/README.md
  sk/template_extending/README.md
Owners: @DjangoGirls/de-pr, @DjangoGirls/en-pr, @DjangoGirls/fa-pr, @DjangoGirls/fr-pr, @DjangoGirls/hy-pr, @DjangoGirls/it-pr, @DjangoGirls/sk-pr

Updating python and django versions usage to latest available versions
  book.json
  de/deploy/README.md
  en/deploy/pythonanywhere.md
  en/django_admin/README.md
  en/django_forms/README.md
  en/django_models/README.md
  en/django_start_project/README.md
  en/django_urls/README.md
  en/django_views/README.md
  en/dynamic_data_in_templates/README.md
  en/whats_next/README.md
  fa/deploy/README.md
  fr/deploy/README.md
  hy/deploy/README.md
  it/deploy/README.md
  ja/deploy/README.md
  ja/django_admin/README.md
  ja/django_forms/README.md
  ja/django_models/README.md
  ja/django_start_project/README.md
  ja/django_urls/README.md
  ja/django_views/README.md
  ja/dynamic_data_in_templates/README.md
  ja/whats_next/README.md
  sk/deploy/pythonanywhere.md
  sk/django_admin/README.md
  sk/django_forms/README.md
  sk/django_models/README.md
  sk/django_start_project/README.md
  sk/django_urls/README.md
  sk/django_views/README.md
  sk/dynamic_data_in_templates/README.md
  sk/whats_next/README.md
Owners: @DjangoGirls/committers, @DjangoGirls/de-pr, @DjangoGirls/en-pr, @DjangoGirls/fa-pr, @DjangoGirls/fr-pr, @DjangoGirls/hy-pr, @DjangoGirls/it-pr, @DjangoGirls/ja-pr, @DjangoGirls/sk-pr

Updating images for new github repo and python install options on windows
  en/deploy/images/new_github_repo.png
  en/python_installation/images/python-installation-options.png
Owners: @DjangoGirls/en-pr

Add a note about GitHub auth and SSH set up
  en/deploy/pythonanywhere.md
Owners: @DjangoGirls/en-pr

correct md syntax
  en/deploy/pythonanywhere.md
Owners: @DjangoGirls/en-pr

Add DigitalOcean to sponsors
  book.json
Owners: @DjangoGirls/committers

Fix typo "mand" to "man"
  pt/intro_to_command_line/README.md
Owners: @DjangoGirls/pt-pr

fix some typos
  README.md
  en/css/README.md
  en/installation/README.md
Owners: @DjangoGirls/committers, @DjangoGirls/en-pr

update python and django versions
  book.json
Owners: @DjangoGirls/committers

remove unnecessary comma
  en/django_forms/README.md
Owners: @DjangoGirls/en-pr

instructions to create github access token
  en/deploy/README.md
Owners: @DjangoGirls/en-pr

fix formatting on book.json
  book.json
Owners: @DjangoGirls/committers

.github/CODEOWNERS:

# default:
*	@DjangoGirls/committers

# language PR review teams for the respective translations:
/bg/	@DjangoGirls/bg-pr
/cs/	@DjangoGirls/cs-pr
/de/	@DjangoGirls/de-pr
/el/	@DjangoGirls/el-pr
/en/	@DjangoGirls/en-pr
/es/	@DjangoGirls/es-pr
/fa/	@DjangoGirls/fa-pr
/fr/	@DjangoGirls/fr-pr
/hu/	@DjangoGirls/hu-pr
/hy/	@DjangoGirls/hy-pr
/it/	@DjangoGirls/it-pr
/ja/	@DjangoGirls/ja-pr
/ko/	@DjangoGirls/ko-pr
/pl/	@DjangoGirls/pl-pr
/pt/	@DjangoGirls/pt-pr
/ru/	@DjangoGirls/ru-pr
/sk/	@DjangoGirls/sk-pr
/tr/	@DjangoGirls/tr-pr
/uk/	@DjangoGirls/uk-pr
/zh/	@DjangoGirls/zh-pr
